<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--  bootstrap 頁碼 樣式  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
     <header class="">

        <div id="Banner">
            <div id="BannerLeft">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/img/logo1.png">
                    </a>
                </div>               
            </div>
            <div id="Title">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span>Steam 遊戲統計與圖表視覺化</span>
                </a>
            </div>
            <div id="BannerRight">                

                <div class="loginText" >                    
                    <a asp-area="" asp-controller="LoginAndRigister" asp-action="Login">
                        <span>登入</span>
                    </a>
                    <span>/</span>
                    <a asp-area="" asp-controller="LoginAndRigister" asp-action="Rigister">
                        <span>註冊</span>
                    </a>
                    @if (ViewData["CartAmount"] != null && ViewData["CartAmount"].ToString() != "0" && ViewData["CartAmount"].ToString() != "")
                    {
                        <br />
                        <a asp-area="" asp-controller="Products" asp-action="ShoppingCart">
                            <span stype="margin-right:1em;">購物車(@ViewData["CartAmount"])</span>
                        </a>
                    }
                </div>           
            </div>
        </div>
        <div style="border-bottom:1px solid #FFFFFF;"></div>
    </header>
    
    
    <div id="Content">
        @RenderBody()
        <div style="clear: both;"></div>
    </div>
    
    
    <footer class="border-top footer text-muted">
        <div id="Footer">圖文資料來源於 Valve Corporation. 版權所有。</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>