body {
    background-color: #003D79;
    margin: 0vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

/* 頁首 */
#Banner {
    font-size: 3vw;
    /*    height: 6.5vh;*/
    color: #ffffff;

    display: flex; /* 啟用 Flexbox */
    flex-wrap: wrap;
    justify-content: space-around; /* 水平分散排列 */
    align-items: center; /*垂直置中 */
    justify-content: center; /* 水平置中 */
}

#BannerLeft {
    width: 20%;
}

#Title {
    width: 50%;
}

#BannerRight {
    width: 30%;
    text-align: right;
    padding-right:5%;
}
.BannerRight-Content {
    float: left;
    
}

#Banner a {
    text-decoration: none;
}

#Banner img {
    width: 80%;
}

#Banner span {
    padding-left: 2%;
    color: #ffffff;
}


.loginText {
    font-size: 2vw; 

}
#Banner::after {
    content: "";
    display: table;
    clear: both;
}


/*選單*/
#Menu {
    clear: both;
    background-color: #0b4299;
    min-height: 3vw;
    max-height: auto;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;


    display: flex; /* 啟用 Flexbox */
    flex-wrap: wrap;
    justify-content: space-around; /* 水平分散排列 */
    align-items: center; /*垂直置中 */
    justify-content: center; /* 水平置中 */
}

.Unit {   
    font-size: 2vw;
    color: #ffffff;
    text-align: center;
    width:16.6%;
}

.Unit a{
    text-decoration: none;
    color: #ffffff;
}

#Menu ::after {
    content: "";
    display: table;
    clear: both;
}


/* 內容 */
#Content {
    clear: both;
    color: #ffffff;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height:auto;
    margin-bottom: 5%;
}
#Content ::after {
    clear: both;
}

/* 頁尾 */
#Footer {
    height: 6vh;
    line-height: 6vh;
    color: #ffffff;
    text-align: center;
    font-size:1vw;
    border:hidden;
}


/* 表單格式 */
#Formdiv {
    color: #ffffff;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    background-color: #114e8a;
    padding:3%;
    border:hidden;
    border-radius: 5px;
}


/* 首頁 */
.viewSide {
    float: left;
    width: 50%;
    background-color: #18579e7c;

    min-height:fit-content;
}

.viewData {
    clear: both;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    display: block;
    margin-bottom : 5%;
}

.viewData p {
    font-size: 1.5vw;
    text-align: center;
    font-weight:bold;
}

.rowData span {
    float: left;
    font-size: 1vw;
}

.rowText::after {
    content: "";
    display: table;
    clear: both;
}


.rowPic {
    clear: both;
    display: break;
}
.rowPic picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowPic img {
    width: 100%;
    display: block;
    margin-bottom: 5%;
    
}

.rowText {
    text-align: center;
    padding-top: 1%;

}

.rowText span {
    width: 35%;
    color: #ffffff;
    height: 2em;
    font-size: 1vw;
}


/* 今日遊戲 */
.gamePic {
    float: left;
    width: 25%;
    height: 7vw;
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 1%;
    background-color: #18579e7c;
}

.gamePic img{    
    height:100%      
}

.gameTitle {
    min-height: 7vw;
    float: right;
    padding-left: 3%;
    padding-top: 1%;
    width: 75%;
    background-color: #18579e7c;
    font-size: 1vw;
}

.gameTitle span{
    text-decoration: none;
    color: #ffffff;
    font-style: oblique;
    display: block;
}

.stop{ 
    clear: both;    
}

.waiting img {
    width: 30%;
    padding-left: 5%;
    padding-right: 5%
}


/* 統計圖表 */
.cloud {
    float: left;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

}

.cloud img{
    width: 100%;
}

.cloud span {        
    font-size: 1.5vw;
}


/* 登入註冊 */

.loginLeft {
    float: left;
    width: 50%;
    text-align: right;
}
.loginLeft img{
    width:65%;
    
}
.loginRight {
    float: right;
    width: 50%;
}

.loginForm span {
    padding-bottom: 4%;
}

/* 頁籤 */
.pageNumber {
    text-align: center;
}

.pageNumber ul.pagination {
    display: inline-block;
}

/* 討論區 */
.Forum {
    min-height: 40vh;
    text-align: center;
}

.ForumFormat {
    display: flex; /* 啟用 Flexbox */
    flex-wrap: wrap;
    justify-content: center; /* 水平分散排列 */
    align-items: center; /*垂直置中 */
    padding: 1em;
    font-size: 1.2vw;
    border-bottom:1px solid #FFFFFF;
}

.ForumUnit{
    margin-left: 3%;
    margin-right:3%;
    width:10.6%;    
}

.topic {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #18579e7c;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    min-height: 40vh;
}

.topicTitle {
    font-size: 3vw;
}

.topicInfo{
    font-size:0.75vw;
    margin-bottom:3vh;
}
.topicInfo span {
    padding-right: 2%;
}

.topicContent {
    font-size: 1.75vw;
    margin-bottom: 6%;
}

/* 會員頁面 */
.memberLeft {
    float: left;
    width: 30%;
    text-align: center;
    padding-right: 5%;
}

.memberMenu {
    margin-bottom: 2vh;      
}

.memberMenu a {
    text-decoration: none;
    color: #FFFFFF;
}

.memberMenu span {
    font-size: 1.5vw;
    text-decoration: none;
    color: #FFFFFF;
}

.memberHTpye span {
    font-size: 2.5vw;

}

.memberRight {
    float: left;
    width: 70%;
}

.memberRight a {
    text-decoration: none;
    color: #FFFFFF;
}

.userInfoForm {
    margin-bottom: 3vh;
}

.userInfoForm span {
    font-size: 1.3vw;    
    margin-right:1vw;
}

.seftTopicMenu {
    margin-right: 2.5em;
    float:left;
    margin-bottom: 4vh;
}

.seftTopicMenu span {
    font-size: 2vw;
}

.seftTopicHead {
    border-bottom: 1px solid;
    margin-bottom: 3vh;
}


.seftTopicHead span {
    font-size: 1.2vw;
    text-decoration: none;
    color: #FFFFFF;
}

.seftTopicContent {
    margin-bottom: 3vh;
    padding-bottom: 3vh;
    border-bottom:1px solid;
}


.seftTopicContent span {
    font-size: 1vw;
    text-decoration: none;
    color: #FFFFFF;
}

.seftTopicTitle{
    float:left;
}

/* 購物車 */
.productItem{
    float:left;
    width: 15%;
    margin-left :2.5%;
    margin-right:2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.productItem img{
    width:100%;
}
.productItem a {
    text-decoration: none;
}

.productItem span{
    font-size: 1vw;
    color:#FFFFFF;
    margin-top: 1.5vh;
    display:block;
}
.productDetail {
    margin-bottom: 6vh;
}

.productDetailImg {
    width: 30%;
    float: left;
    margin-right: 5%;
}

.productDetailInfo {
    float: left;
    width: 65%;
}

.productDetailInfo span {
    font-size: 1.5vw;
}

.cart{
    font-size: 1.2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width:95%;
    margin-left:2.5%;
    text-align:right;
}

.cartTitle {
    margin-bottom: 2%;
    font-size: 1.5vw;
    height:auto;
    border-bottom:1px solid #FFFFFF;
}

.cartTitle::after {
    content: "";
    display: table;
    clear: both;
}

.cartContent{
    clear:both;
}

.cartContent::after {
    content: "";
    display: table;
    clear: both;
}

.cartSpanWidth{
    float:left;
    width:13%;
    margin-left:2.5%;
    margin-right:2.5%;
}
.cartTotal {
    margin-left: 2.5%;
    text-align: right;
    margin-bottom: 3%;
}

.cartTotal span {
    font-size: 1.5vw;
}

/* API */
.api {
    margin-top: 5%;
    margin-bottom: 15%;
    color: #ffffff;
}

.api span {
    font-size: 1.5vw;
}

.api ol {
    font-size:1.2vw;
}


@media (max-width: 768px) {
    /* 選單 */
    .Unit {
        width: 32%;
        line-height: 4.8vw;
        font-size: 4vw;
        margin:1%;
    }

    /* 頁尾 */
    #Footer {
        height: 12vh;
        line-height: 12vh;
        font-size: 3vw;
    }

    /* 首頁 */
    .viewSide {
        width: 100%;
    }

    .viewData p {
        font-size: 4vw;
    }

    .rowData span {
        font-size: 2vw;
    }

    .rowText span {
        width: 35%;
        color: #ffffff;
        height: 2em;
        font-size: 3vw;
    }

    /* 今日遊戲 */
    .gamePic {
        width: 50%;
        height: 16vw;

    }
    .rowPic img {
        width: 70%;
    }

    .gameTitle {
        min-height: 16vw;

        width: 50%;
        background-color: #18579e7c;
        font-size: 2.5vw;
    }

    /* 統計圖 */
    .cloud {
        width: 100%;

    }

    .cloud img {
        width: 100%;
    }

    .cloud span {
        font-size: 5vw;
    }

    /* API */
    .api span {
        font-size: 3vw;
    }

    .api ol {
        font-size: 2.4vw;
    }

    .tableForum {
        min-height: 40vh;
    }

    /* 登入註冊 */
    .loginLeft {
        width: 0%;
    }

    .loginLeft img {
        width: 0%;
    }

    .loginRight {
        float: right;
        width: 100%;
    }

    .loginForm span {
        padding-bottom: 4%;
    }

    /* 會員頁面 */
    .memberLeft {
        float: left;
        width: 25%;

    }

    .memberMenu span {
        font-size: 3vw;
    }

    .memberRight {
        float: left;
        width: 75%;
    }

    .userInfoForm {
        margin-bottom: 3vh;
    }

    .userInfoForm span {
        font-size: 3vw;
        margin-right: 1vw;
    }

    .memberHTpye span {
        font-size: 5vw;
    }

    .seftTopicMenu span {
        font-size: 3vw;
    }

    .seftTopicHead span {
        font-size: 3vw;
    }

    .seftTopicContent span {
        font-size: 3vw;
    }

    /* 購物車 */
    .productItem {
        float: left;
        width: 27%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .productItem span {
        font-size: 2.5vw;
    }

    .productDetailImg {
        width: 100%;
    }

    .productDetailInfo {
        width: 100%;
    }

    .productDetailInfo span {
        font-size: 5vw;
    }

    .cart {
        font-size: 1.2vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 95%;
        margin-left: 2.5%;
        text-align: right;
    }

    .cartTitle {
        margin-bottom: 2%;
        font-size: 5vw;
    }

    .cartContent {
        clear: both;
    }

    .cartContent::after {
        content: "";
        display: table;
        clear: both;
    }

    .cartSpanWidth {
        float: left;
        width: 13%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom:2%;
    }
    .cartSpanWidth span {
        font-size: 3.5vw;
    }

    .cartSpanWidth::after {
        content: "";
        display: table;
        clear: both;
    }

    .cartTotal span{
        font-size: 5vw;
    }

    /* 討論區 */
    .topic {
        width: 70%;
        margin-left: 15%;
        background-color: #18579e7c;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        min-height: 40vh;
    }

    .topicTitle {
        font-size: 5vw;
    }

    .topicInfo {
        font-size: 2vw;
    }

    .topicContent {
        font-size: 3vw;
    }

    .ForumFormat {
        justify-content: center; /* 水平分散排列 */
        font-size: 6vw;
    }

    .ForumUnit {
        width: 100%;
    }
}