<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/10339f70-0dab-4383-a9c1-89e2cadc2dd7/resourcegroups/Steam-Analyze-Statistics-ASP_group/providers/Microsoft.Web/sites/Steam-Analyze-Statistics-ASP20251015101659</ResourceId>
    <ResourceGroup>Steam-Analyze-Statistics-ASP_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://steam-analyze-statistics-asp20251015101659-f7adhxh6ercwd9d4.japanwest-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c81a321d-8b9a-483a-8127-e26534b21f12</ProjectGuid>
    <MSDeployServiceURL>steam-analyze-statistics-asp20251015101659-f7adhxh6ercwd9d4.scm.japanwest-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Steam-Analyze-Statistics-ASP20251015101659</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>